<h3>{{name}}</h3>
{{#unless isExpanded}}
<span {{action 'toggleLinkSection'}}>[ Expand ]</span>
{{/unless}}

{{#if isExpanded}}
<ul>
  {{#if twitter}}
  <li>
    Twitter:
    <a href="http://twitter.com/{{twitter}}" target='_blank'>@{{twitter}}</a>
  </li>
  {{/if}}
  <li>
    Github:
    <a href="http://github.com/{{github}}" target='_blank'>{{github}}</a>
  </li>
</ul>

<span {{action 'toggleLinkSection'}}>[ Collapse ]</span>

{{/if}}



{{#my-table}}

{{/my-table}}





{{yield}}
