<h2>My Favorite Orgs</h2>

<ul>
  {{#each content as |org|}}
  <li>
    <span {{action 'favoriteClicked' org}} >
      [ Favorite ]
    </span>
    {{link-to org.id 'org' org.id}}
  </li>
  {{/each}}

</ul>

{{social-info
  name="Mike North"
  twitter="MichaelLNorth"
  github='mike-north'
  on-links-toggle='linksToggled'}}

 {{social-info
  name="Mike North"
  github='mike-north'}}

{{outlet}}
